html {
  font-family: "Open Sans";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

hr {
  width: 100%;
}

p,
ul {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
  padding-right: 8px;
}
li:last-child {
  padding-right: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
}
.bold {
  font-weight: 700;
}

.main-section {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  width: 332px;
}

.picture {
  width: 256px;
  height: 256px;
  border-radius: 100%;
}

.name {
  margin-top: 8px;
}

div.job-grid {
  margin-left: 8px;
  margin-right: 8px;
  display: grid;
  grid-row-gap: 1rem;
}
div.job-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
div.job-row > .timespan {
  grid-column: span 1;
  text-align: right;
  font-size: 0.8em;
  padding-right: 5px;
}
div.job-row > .logo {
  grid-column: span 1;
  padding-right: 5px;
}
div.job-row > .logo img {
  width: 100%;
}
div.job-row > .description {
  grid-column: span 10;
  text-align: left;
  padding-right: 5px;
}

p.fineprint {
  font-size: 0.7em;
}

footer {
  font-size: 0.7em;
  padding: 32px;
}

@media only screen and (min-width: 800px) {
  div.job-grid {
    margin: 0;
    display: grid;
    grid-row-gap: 1rem;
  }

  .main-section {
    flex-direction: row;
    justify-content: center;
  }

  .info {
    align-items: flex-start;
    margin-left: 40px;
  }

  .name {
    margin-top: 16px;
  }
}
